<header class="header">
    <div class="headerUserInfo">
        <div class="notLogin activate">
            <div>
                <a href="javascript:void(0)" onclick="moveToPage('/myPage')">임시 myPage</a>
                <a href="javascript:void(0)" onclick="moveToPage('/signup')">회원가입</a>
                <a href="javascript:void(0)" onclick="moveToPage('/login')">로그인</a>
            </div>
        </div>
        <div class="login">

        </div>
    </div>
    <div class="headerSearch">
        <div class="headerLogoImg" onclick="moveToPage('')">
            <img src="/file/img/testImg.jpg">
        </div>
        <div class="headerSearchBar">
            <div class="searchBar">
                <input type="text" placeholder="검색어를 입력해주세요.">
            </div>
            <div class="searchBtn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    <div class="headerNavBar">
        <nav>
            <div>
                <a href="">추천</a>
            </div>
            <div>
                <a href="">XX</a>
            </div>
            <div>
                <a href="">XX</a>
            </div>
            <div>
                <a href="">XX</a>
            </div>
        </nav>
    </div>
</header>