<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset='UTF-8'>

    <title>꾸밈 스튜디오</title>
    <!-- ====================== Global CSS ===================== -->
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <!-- ======================================================= -->

    <!-- ==================== Global Script ==================== -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/fontAwesome.js"></script>
    <!-- ======================================================= -->
</head>