<header class="header">
    <div class="logo" onclick="moveToPage('/')">
        <img src="./file/img/commonLogoBlack.webp" alt="">
    </div>
    <div class="search-bar">
        <input type="text" placeholder="검색...">
    </div>
    <nav>
        <ul class="auth-group">
            <!-- 로그인 상태에서 보이지 않을 항목 -->
            <li class="auth-links logout" onclick="openModal('signupModal')"><a href="#">회원가입</a></li>
            <li class="auth-links logout" onclick="openModal('loginModal')"><a href="#">로그인</a></li>

            <!-- 비로그인 상태에서 보이지 않을 항목 -->
            <li class="auth-links login"><a href="/myPage">마이페이지</a></li>
            <li class="auth-links login"><a href="javascript:void(0)" onclick="logout()">로그아웃</a></li>
        </ul>
    </nav>
</header>