<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset='UTF-8'>

    <title>꾸밈 스튜디오</title>
    <!-- ====================== Global CSS ===================== -->
    <link type="text/css" rel='stylesheet' href='/css/header.css'>
    <link type="text/css" rel="stylesheet" href="/css/modal.css">
    <!-- ======================================================= -->

    <!-- ==================== Global Script ==================== -->
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/axios.min.js"></script>
    <script type="text/javascript" src="/js/apiUtil.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/commonUtil.js"></script>
    <script type="text/javascript" src="/js/sha256.js"></script>
    <script type="text/javascript" src="/js/fontAwesome.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>
    <script type="text/javascript" src="/js/modal.js"></script>
    <!-- ======================================================= -->
</head>