<div id="signupModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('signupModal')">&times;</span>
        <h2>회원가입</h2>
        <form id="signupForm">
            <input type="text" placeholder="아이디" id="signupModalId">
            <input type="password" placeholder="비밀번호" id="signupModalPassword">
            <input type="password" placeholder="비밀번호 확인" id="signupModalPasswordCheck">
            <input type="text" placeholder="이름" id="signupModalName">
            <input type="tel" placeholder="전화번호" id="signupModalCallPhone">
            <input type="email" placeholder="이메일 주소" id="signupModalEmail">
            <input type="text" placeholder="닉네임" id="signupModalNickname">
            <input type="text" placeholder="주소" id="signupModalAddress">
            <input type="text" placeholder="상세주소" id="signupModalAddressDetail">
            <div class="modal-btn-group">
                <button type="button" class="submit-btn" onclick="signup()">회원가입</button>
            </div>
        </form>
    </div>
</div>