<th:block th:replace="~{/common/commonHead}"></th:block>
<head>
    <link type="text/css" rel="stylesheet" href="/css/newMain.css">
    <link type="text/css" rel="stylesheet" href="/css/banner.css">
    <link type="text/css" rel="stylesheet" href="/css/productList.css">
    <script type="text/javascript" src="/js/slider.js"></script>
</head>
<body>
<th:block th:replace="~{/common/commonHeader}"></th:block>
<div class="mainContent">
    <div class="banner">
        <div class="banner-slider">
            <div class="banner-images">
                <div class="banner-image">
                    <img src="./file/img/300.png" alt="배너 1" class="banner-slide">
                </div>
                <div class="banner-image">
                    <img src="./file/img/1400x300.png" alt="배너 2" class="banner-slide">
                </div>
                <div class="banner-image">
                    <img src="./file/img/1400x300.png" alt="배너 3" class="banner-slide">
                </div>
            </div>
            <!-- 페이지네이션 -->
            <div class="pagination"></div>
            <!-- 네비게이션 화살표 -->
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow">&#10095;</div>
        </div>
    </div>

    <!-- 상품 리스트 -->
    <div class="product-grid">
        <div class="product-card">
            <img src="./file/img/300.png" alt="상품 1" onerror="this.src='./imgNotFountErr.webp';">
            <div class="product-info">
                <div class="product-name">상품명 1</div>
                <div class="product-price">₩50,000</div>
            </div>
            <div class="actions">
                <i class="fa-solid fa-cart-shopping cart" onclick="toggleCart(this)"></i>
                <i class="fas fa-heart heart" onclick="toggleHeart(this)"></i>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{/common/commonFooter}"></th:block>
</body>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        await productList();
    })

    // 배너 초기화
    const bannerSlider = new BannerSlider('.banner-slider', {
        autoplayInterval: 5000,
        loop: true,
    });

    const productList = async (page = 1) => {
        await apiRequest(
            HttpMethod.GET,
            API_URL + "/product/list",
            {
                page: page,
                limit: 8,
            },
            (data) => {
                document.querySelector('.product-grid').innerHTML = data.itemList.map(product => {
                    return `
                    <div class="product-card" onclick="moveToPage('/product/${product.productUID}')">
                        <img src="${product.productMainImg}" alt="상품 1" onerror="this.src='./file/img/300.png';">
                        <div class="product-info">
                            <div class="product-name">${product.productName}</div>
                            <div class="product-price">₩${product.productPrice}</div>
                        </div>
                        <div class="actions">
                            <i class="fa-solid fa-cart-shopping cart" onclick="toggleCart(this, ${product.productUID})"></i>
                            <i class="fas fa-heart heart" onclick="toggleHeart(this, ${product.productUID})"></i>
                        </div>
                    </div>`
                }).join('');
            },
            (error) => {
                console.log(error);
            }
        )
    }
</script>
<th:block th:replace="~{/common/commonFoot}"></th:block>