<th:block th:replace="~{/common/commonHead}"></th:block>
<head>
    <link type="text/css" rel="stylesheet" href="/css/mainBanner.css">
    <link type="text/css" rel="stylesheet" href="/css/productBtn.css">
    <script type="text/javascript" src="/js/slider.js"></script>
</head>
<body>
<th:block th:replace="~{/common/commonHeader}"></th:block>
<div class="mainContent">
    <div class="bannerContainer">
        <div class="bannerList">
            <div class="bannerItem">
                <img src="/file/img/testImg1.png" alt="">
            </div>
            <div class="bannerItem">
                <img src="/file/img/testImg2.png" alt="">
            </div>
            <div class="bannerItem">
                <img src="/file/img/testImg3.png" alt="">
            </div>
            <div class="bannerItem">
                <img src="/file/img/testImg1.png" alt="">
            </div>
            <div class="bannerItem">
                <img src="/file/img/testImg2.png" alt="">
            </div>
            <div class="bannerItem">
                <img src="/file/img/testImg3.png" alt="">
            </div>
        </div>
        <button class="prevButton"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="nextButton"><i class="fa-solid fa-chevron-right"></i></button>
        <div class="pagination"></div>
    </div>
    <div class="productList">
        <div class="productItems">
            <div class="productItem">
                <div class="productImg">
                    <img src="/file/img/testImg.jpg" alt="">
                </div>
                <div class="productInfo">
                    <div class="productName">테스트상품</div>
                    <div class="productPrice">10,000원</div>
                    <div class="productBrand">OwO</div>
                    <div class="productBtnGroup">
                        <button class="shoppingCartBtn shoppingCartActive"><i class="fa-solid fa-cart-shopping"></i></button>
                        <button class="wishBtn wishActive"><i class="fa-solid fa-heart"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <button>
                <i class="fa-solid fa-plus fa-xl"></i>
            </button>
        </div>
    </div>
</div>
<th:block th:replace="~{/common/commonFooter}"></th:block>
</body>
<th:block th:replace="~{/common/commonFoot}"></th:block>