<th:block th:replace="~{/common/commonHead}"></th:block>
<head>
    <link rel="stylesheet" type="text/css" href="/css/myPage.css">
    <link rel="stylesheet" type="text/css" href="/css/myPageMain.css">
</head>
<body>
<th:block th:replace="~{/common/commonHeader}"></th:block>
<div class="myPageContent" data-items="2">
    <div class="myPageLeftSideContent">
        <div class="leftSideTop">
            <div class="userProfileImg">
                <img src="/file/img/testImg.jpg" alt="">
            </div>
            <div class="userName">회원명</div>
        </div>
        <hr class="line">
        <div class="leftSideMenuList">
            <div class="" onclick="moveToPage('/myPage/shoppingCart')">장바구니</div>
            <div class="" onclick="moveToPage('/myPage/wishList')">찜목록</div>
            <div class="" onclick="moveToPage('/myPage/order/list')">주문</div>
        </div>
    </div>
    <div class="myPageCenterContent">
        <div class="myPageMainTopBox">
            <div class="box">
                <div class="topText">적립금</div>
                <div class="text">0P</div>
            </div>
            <div class="box" onclick="moveToPage('/myPage/order/list')">
                <div class="topText">주문</div>
                <div class="text"><span id="orderTotalCount"></span>&nbsp;건중&nbsp;<span id="orderCompleteCount"></span>&nbsp;건 완료</div>
            </div>
        </div>
        <hr>
        <div class="recentOrderList">
            <div class="title">최근 주문 목록</div>
            <hr class="line">
            <div class="itemList"></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        await myPage();
        await myPageMain();
    })

    const myPage = async () => {
        await apiRequest(
            HttpMethod.GET,
            API_URL + "/user/myPage",
            {},
            (data) => {
                document.querySelector('.leftSideTop .userName').innerText = data.userName + " 님";
            },
            (error) => {
                console.log(error);
            }
        )
    }

    const myPageMain = async () => {
        await apiRequest(
            HttpMethod.GET,
            API_URL + "/user/myPage/main",
            {},
            (data) => {
                const orderTotalCount = document.getElementById("orderTotalCount");
                const orderCompleteCount = document.getElementById("orderCompleteCount");
                const recentOrderList = document.querySelector(".recentOrderList");
                const itemList = recentOrderList.querySelector(".itemList");

                orderTotalCount.innerText = data.orderTotalCount;
                orderCompleteCount.innerText = data.orderCompleteCount;

                itemList.innerHTML = data.orderList.map(order => {
                    return `
                        <div class="item">
                            <div class="productImg"><img src="${order.productMainImg}" onerror="this.src='./file/img/300.png';" alt=""></div>
                            <div class="orderInfo">
                                <div class="information">
                                    <div class="orderStatus">${order.orderStatus}</div>
                                    <div class="productName">${order.productName}</div>
                                    <div class="productCount">전체주문개수 : ${order.totalCount}</div>
                                    <div class="orderAmount">결제금액 : ${order.paymentAmount}원</div>
                                </div>
                                <div class="detailBtn">
                                    <button onclick="moveToPage('/myPage/order/${order.orderId}')">주문 상세</button>
                                </div>
                            </div>
                        </div>`
                }).join("");
            },
            (error) => {
                console.log(error);
            }
        )
    }
</script>
<th:block th:replace="~{/common/commonFooter}"></th:block>
</body>
<th:block th:replace="~{/common/commonFoot}"></th:block>