<th:block th:replace="~{/common/commonHead}"></th:block>
<head>
    <link rel="stylesheet" type="text/css" href="/css/myPage.css">
    <link rel="stylesheet" type="text/css" href="/css/shoppingCart.css">
</head>
<body>
<th:block th:replace="~{/common/commonHeader}"></th:block>
<div class="myPageContent" data-items="3">
    <div class="myPageLeftSideContent">
        <div class="leftSideTop">
            <div class="userProfileImg">
                <img src="/file/img/testImg.jpg" alt="">
            </div>
            <div class="userName">회원명</div>
        </div>
        <hr class="line">
        <div class="leftSideMenuList">
            <div class="selected" onclick="moveToPage('/myPage/shoppingCart')">장바구니</div>
            <div class="" onclick="moveToPage('/myPage/wishList')">찜목록</div>
            <div class="" onclick="moveToPage('/myPage/order/list')">주문</div>
            <div class="" onclick="moveToPage('/myPage/order/1')">문의</div>
            <div class="" onclick="moveToPage('/')">회원정보변경</div>
        </div>
    </div>
    <div class="myPageCenterContent">
        <div class="topContent">
            <div class="title">장바구니 목록</div>
        </div>
        <hr class="line">
        <div class="shoppingCartItemList"></div>
    </div>
    <div class="myPageRightSideContent">
        <div class="title">주문</div>
        <hr class="bordLine">
        <div class="orderSideList">
            <div class="item allProductPrice">
                <div class="key">총 상품 금액</div>
                <div class="value"></div>
            </div>
            <div class="item selectProductPrice">
                <div class="key">선택 상품 금액</div>
                <div class="value"></div>
            </div>
            <div class="item">
                <div class="key">배송비</div>
                <div class="value">0원</div>
            </div>
        </div>
        <hr class="line">
        <div class="orderSideList">
            <div class="item allProductPrice">
                <div class="key bold">결제 예정 금액 (전체)</div>
                <div class="value bold"></div>
            </div>
            <div class="item selectProductPrice">
                <div class="key bold">결제 예정 금액 (선택)</div>
                <div class="value bold"></div>
            </div>
        </div>
        <div class="orderSideButtonGroup">
            <button class="select" onclick="selectOrder()">선택주문</button>
            <button class="all" onclick="allOrder()">전체주문</button>
        </div>
    </div>
</div>
<th:block th:replace="~{/common/commonFooter}"></th:block>
</body>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        await myPage();
        await shoppingCart();

        allProductPayment();
        selectProductPayment();

        const itemCheckBoxList = document.querySelectorAll(".itemCheckBox");

        itemCheckBoxList.forEach(itemCheckBox => {
            itemCheckBox.addEventListener('click', function () {
                this.classList.toggle('checked');
                selectProductPayment();
            });
        })

        // 모든 카운터 요소를 가져오기
        const itemCounterList = document.querySelectorAll('.itemCounter');

        itemCounterList.forEach(itemCounter => {
            const plusBtn = itemCounter.querySelector('.plusBtn');
            const minusBtn = itemCounter.querySelector('.minusBtn');
            const countDisplay = itemCounter.querySelector('.count');

            // 카운트를 증가시키는 함수
            plusBtn.addEventListener('click', () => {
                let currentCount = parseInt(countDisplay.textContent);
                currentCount++;
                countDisplay.textContent = currentCount;
                allProductPayment();
                selectProductPayment();

                // 감소 버튼 활성화 (최소 1 이상이므로)
                minusBtn.classList.remove('disable');
            });

            // 카운트를 감소시키는 함수
            minusBtn.addEventListener('click', () => {
                let currentCount = parseInt(countDisplay.textContent);
                if (currentCount > 1)
                {
                    currentCount--;
                    countDisplay.textContent = currentCount;
                    allProductPayment();
                    selectProductPayment();
                }

                // 카운트가 1일 때는 감소 버튼 비활성화
                if (currentCount === 1) {
                    minusBtn.classList.add('disable');
                }
            });

            // 초기 상태에서 카운트가 1이라면 감소 버튼 비활성화
            if (parseInt(countDisplay.textContent) === 1) {
                minusBtn.classList.add('disable');
            }
        });
    })

    const allProductPayment = () => {
        const shoppingCartItemList = document.querySelectorAll('.shoppingCartItemList > .item');

        let totalPrice = 0;

        shoppingCartItemList.forEach(shoppingCartItem => {
            const count = shoppingCartItem.querySelector(".count").innerText;
            const price = shoppingCartItem.querySelector(".productAmount").innerText.replace("가격 : ", "").replace(",", "").replace("원", "");

            totalPrice += parseInt(price) * (parseInt(count) >= 1 ? parseInt(count) : 1);
        })

        document.querySelectorAll(".orderSideList > .allProductPrice").forEach(item => {
            item.querySelector(".value").innerText = formatNumberWithComma(totalPrice) + "원";
        })
    }

    const selectProductPayment = () => {
        const shoppingCartItemList = document.querySelectorAll('.shoppingCartItemList > .item');

        let totalPrice = 0;

        shoppingCartItemList.forEach(shoppingCartItem => {
            const itemCheckBox = shoppingCartItem.querySelector(".itemCheckBox");
            const count = shoppingCartItem.querySelector(".count").innerText;
            const price = shoppingCartItem.querySelector(".productAmount").innerText.replace("가격 : ", "").replace(",", "").replace("원", "");

            if (itemCheckBox.classList.contains('checked'))
            {
                totalPrice += parseInt(price) * (parseInt(count) >= 1 ? parseInt(count) : 1);
            }
        })

        document.querySelectorAll(".orderSideList > .selectProductPrice").forEach(item => {
            item.querySelector(".value").innerText = formatNumberWithComma(totalPrice) + "원";
        })
    }

    const toggleCart = async (productUID) => {
        await apiRequest(
            HttpMethod.POST,
            API_URL + "/user/shoppingCart",
            {
                productUID: productUID,
            },
            (data) => {
                alert(data);
                location.reload();
            },
            (error) => {
                alert(error);
            }
        )
    }

    const shoppingCart = async () => {
        await apiRequest(
            HttpMethod.GET,
            API_URL + "/user/myPage/shoppingCart",
            {},
            (data) => {
                document.querySelector(".shoppingCartItemList").innerHTML = data.map(item => {
                    return `
                    <div class="item" productUID="${item.productUID}">
                        <div class="itemCheckBox" tabindex="0">
                            <div class="checkbox"></div>
                        </div>
                        <div class="productImg">
                            <img src="${item.productMainImg}" alt="">
                        </div>
                        <div class="productInfo">
                            <div class="productName">${item.productName}</div>
                            <div class="productAmount">가격 : ${item.productPrice}원</div>
                        </div>
                        <div class="itemButtonGroup">
                            <div class="deleteBtn" onclick="toggleCart(${item.productUID})"><i class="fa-solid fa-x"></i></div>
                            <div class="itemCounter">
                                <div class="minusBtn disable"><i class="fa-solid fa-chevron-left"></i></div>
                                <div class="count">1</div>
                                <div class="plusBtn"><i class="fa-solid fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>`
                }).join("");
            },
            (error) => {
                console.log(error);
            })
    }

    const selectOrder = async () => {
        const data = [];

        document.querySelectorAll(".shoppingCartItemList > .item").forEach(item => {
            if (item.querySelector(".itemCheckBox").classList.contains('checked'))
            {
                data.push({
                    productUID: item.getAttribute("productUID"),
                    quantity: item.querySelector(".count").innerText
                });
            }
        })

        if (data.length === 0)
        {
            alert("상품을 1개 이상 선택해야합니다.");
            return;
        }

        await apiRequest(
            HttpMethod.POST,
            API_URL + "/order",
            {
                orderItemList: data
            },
            (data) => {
                window.location.href = "/order/payment/" + data;
            },
            (err) => {
                alert(err);
            })
    }

    const allOrder = async () => {
        const data = [];

        document.querySelectorAll(".shoppingCartItemList > .item").forEach(item => {
            data.push({
                productUID: item.getAttribute("productUID"),
                quantity: item.querySelector(".count").innerText
            });
        })

        if (data.length === 0)
        {
            alert("상품이 1개 이상 존재해야합니다.");
            return;
        }

        await apiRequest(
            HttpMethod.POST,
            API_URL + "/order",
            {
                orderItemList: data
            },
            (data) => {
                window.location.href = "/order/payment/" + data;
            },
            (err) => {
                alert(err);
            })
    }

    const myPage = async () => {
        await apiRequest(
            HttpMethod.GET,
            API_URL + "/user/myPage",
            {},
            (data) => {
                document.querySelector('.leftSideTop .userName').innerText = data.userName + " 님";
            },
            (error) => {
                console.log(error);
            }
        )
    }
</script>
<th:block th:replace="~{/common/commonFoot}"></th:block>