<th:block th:replace="~{/common/commonHead}"></th:block>
<body>
<th:block th:replace="~{/common/commonHeader}"></th:block>
<div class="myPageContent" data-items="2">
    <div class="myPageLeftSideContent">
        <div class="leftSideTop">
            <div class="userProfileImg">
                <img src="/file/img/testImg.jpg" alt="">
            </div>
            <div class="userName">회원명</div>
        </div>
        <hr class="line">
        <div class="leftSideMenuList">
            <div class="" onclick="moveToPage('/myPage/shoppingCart')">장바구니</div>
            <div class="selected" onclick="moveToPage('/myPage/wishList')">찜목록</div>
            <div class="" onclick="moveToPage('/myPage/order/list')">주문</div>
            <div class="" onclick="moveToPage('/myPage/order/1')">문의</div>
            <div class="" onclick="moveToPage('/')">회원정보변경</div>
        </div>
    </div>
    <div class="myPageCenterContent">
        <div class="topContent">
            <div class="title">찜 목록</div>
            <div class="btnGroup">
                <button class="btn btnBlack">장바구니에 추가</button>
            </div>
        </div>
        <hr class="line">
        <div class="wishListItems">
            <div class="item">
                <div class="itemCheckBox" tabindex="0">
                    <div class="checkbox"></div>
                </div>
                <div class="productImg">
                    <img src="/file/img/testImg.jpg" alt="">
                </div>
                <div class="productInfo">
                    <div class="productName">테스트 상품</div>
                    <div class="productAmount">가격 : XX,XXX원</div>
                </div>
                <div class="itemButtonGroup">
                    <div class="deleteBtn"><i class="fa-solid fa-x"></i></div>
                </div>
            </div>
            <div class="item">
                <div class="itemCheckBox" tabindex="0">
                    <div class="checkbox"></div>
                </div>
                <div class="productImg">
                    <img src="/file/img/testImg.jpg" alt="">
                </div>
                <div class="productInfo">
                    <div class="productName">테스트 상품</div>
                    <div class="productAmount">가격 : XX,XXX원</div>
                </div>
                <div class="itemButtonGroup">
                    <div class="deleteBtn"><i class="fa-solid fa-x"></i></div>
                </div>
            </div>
            <div class="item">
                <div class="itemCheckBox" tabindex="0">
                    <div class="checkbox"></div>
                </div>
                <div class="productImg">
                    <img src="/file/img/testImg.jpg" alt="">
                </div>
                <div class="productInfo">
                    <div class="productName">테스트 상품</div>
                    <div class="productAmount">가격 : XX,XXX원</div>
                </div>
                <div class="itemButtonGroup">
                    <div class="deleteBtn"><i class="fa-solid fa-x"></i></div>
                </div>
            </div>
            <div class="item">
                <div class="itemCheckBox" tabindex="0">
                    <div class="checkbox"></div>
                </div>
                <div class="productImg">
                    <img src="/file/img/testImg.jpg" alt="">
                </div>
                <div class="productInfo">
                    <div class="productName">테스트 상품</div>
                    <div class="productAmount">가격 : XX,XXX원</div>
                </div>
                <div class="itemButtonGroup">
                    <div class="deleteBtn"><i class="fa-solid fa-x"></i></div>
                </div>
            </div>
            <div class="item">
                <div class="itemCheckBox" tabindex="0">
                    <div class="checkbox"></div>
                </div>
                <div class="productImg">
                    <img src="/file/img/testImg.jpg" alt="">
                </div>
                <div class="productInfo">
                    <div class="productName">테스트 상품</div>
                    <div class="productAmount">가격 : XX,XXX원</div>
                </div>
                <div class="itemButtonGroup">
                    <div class="deleteBtn"><i class="fa-solid fa-x"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{/common/commonFooter}"></th:block>
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const itemCheckBoxList = document.querySelectorAll(".itemCheckBox");

        itemCheckBoxList.forEach(itemCheckBox => {
            itemCheckBox.addEventListener('click', function () {
                this.classList.toggle('checked');
            });
        })
    })
</script>
<th:block th:replace="~{/common/commonFoot}"></th:block>