$global-border-color: #a5a5a5;
$global-hover-color: #a5a5a5;
$mypage-selected-color: #51ff00;
$mypage-non-selected-color: #616161;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #696969;

.myPageContent {
    display: grid;
    gap: 15px;
    margin: auto;
    margin-top: 30px;
    min-width: 900px;

    &[data-items="2"] {
        grid-template-columns: 1fr 4fr;
        width: 70%;
    }
    
    &[data-items="3"] {
        grid-template-columns: 1fr 4fr 2fr;
        width: 80%;
    }

    .myPageLeftSideContent {
        border: 1px solid $global-border-color;
        border-radius: 10px;
        height: min-content;
    
        .leftSideTop {
            border-bottom: $global-border-color;
    
            .userProfileImg {
                width: 60%;
                border: 1px solid $global-border-color;
                border-radius: 100px;
                margin-top: 30px !important;
    
                margin: auto;
    
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                }
            }
    
            .userName {
                width: 100%;
                margin-top: 30px;
                text-align: center;
                font-weight: lighter;
                font-size: 22px;
            }
        }
    
        .line {
            width: 80%;
            margin: auto;
            margin-top: 20px;
            border: 1px solid $global-border-color;
        }
    
        .leftSideMenuList {
            color: $mypage-non-selected-color;
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
    
            div {
                padding: 10px;
                width: 70%;
                margin: auto;
                border: 1px solid transparent;
                border-radius: 10px;
            
                &:hover {
                    cursor: pointer;
                    border-color: $global-border-color;
                }
            }
    
            .selected {
                color: $mypage-selected-color !important;
            }
        }
    }

    .myPageRightSideContent {
        border: 1px solid $global-border-color;
        border-radius: 10px;
        height: min-content;
    }

    .myPageCenterContent {
        border: 1px solid $global-border-color;
        border-radius: 10px;
    }
}

.myPageCenterContent .line {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.myPageCenterContent .topContent {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;


    .title {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
    }

    .btnGroup {
        width: 100%;
        display: inline-flex;
        flex-direction: row-reverse;
    }
}